/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/*.txt
/storage/*.log
/storage/app/*
/storage/framework/*
/storage/logs/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/framework/
